<script src="https://bulma.io/vendor/clipboard-1.7.1.min.js"></script>
<script src="https://bulma.io/vendor/js.cookie-2.1.4.min.js"></script>
<script src="https://bulma.io/lib/main.js?v=202101142132"></script>
<script type="text/javascript" src="./node_datetime.js"></script>
</body>
</html>